body{
  /*background: url("../img/background.jpg")*/
  background: #404040;
  margin: 0px;
  overflow-y: hidden;
}

.container {
  width: 90%;
  height: 100vh;
  margin: auto;
  padding: 10px;
}

.content{
  margin-top: 12px;
  width: 100%;
}

.histogramas{
  width: 0%;
  display: inline-block;
  float: right;
  text-align: center;
}

.filter-options{
  width: 22%;
  height: 70vh;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  overflow-y: scroll;
  padding-right: 12px;
  margin-top: 80px;
}

.loader{
  width: 100%;
  display: inline-block;
  border-width: 0px;
  text-align: center;
  color: white;
}

.graphics-container {
  margin-top: 100px;
  width: 75%;
  float: right;
}

.image-panel{
  overflow: hidden;
  margin: auto;
}

.image-container{
  width: 40%;
  margin-left: 10px;
  float: left;
}

.image {
  max-height: 220px;
  max-width: 280px; 
}

.hist_son {
  width: 50%;
  float: right;
}

.slidebar{
  display: inline-block;
  width: 60%;
}

.limit{
  display: inline-block;
  width: 10%;
  color: white;
  vertical-align: super;
}

.x{
  color: white;
}

.y{
  color: white;
  transform: translate(1px);
}
.mat{
  width: 30%;
}
.clear{
  color: white;
  margin: 0px;
}
.confirm{
  width: 30%;
  max-width: 100px;
  min-width: 50px;
}
.point{
  display: inline-block;
  width: 45%;
}
.pointer{
  color: black;
  width: 45%;
  display: inline-block;
  vertical-align: super;
}

.filter{
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
    border-width: 0px;
    background-color: cornflowerblue;
    color: white;
    overflow: hidden;
}

.filter:hover{
    opacity: 0.5;
    transition: 0.4;
}

.reduce{
    margin-bottom: 0px;
    color: white;
}

.hide{
  opacity: 0;
}

.head{
  text-align: center;
  color: white;
}

.colunm{
  display: inline-block;
  width: 28px;
}

.cel{
  width: 100%;
  display: inline-block;
  text-align: center;
}

#matriz{
  margin-top: 8px;
  margin-bottom: 8px;
  /*overflow: scroll;*/
}

.histo_options{
  width: 100%;
  display: inline-block;
}

.histo_option{
  width: 20%;
  display: inline-block;
  color: white;
}