* {
	margin: 0;
}

body{
  background: #666768;
  overflow-y: hidden;
}

.container {
  height: 100vh;
}

#menu {
	background-image: linear-gradient(to bottom, black, #33425b);	
	width: 224px;
	height: 100vh;
	padding-top: 24px;
	text-align: center;
	float: left;
}

.head-wrapper {
	width: 200px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	color: #888888;
	font-weight: bold;
}

.head-wrapper:hover {
	color: white;
	transition: 0.5s;
}

#img-icon {
	width: 24px;
	height: 24px;
	margin-right: 12px;
	display: inline-table;
	vertical-align: middle;
}

#image-picker-label {
	width: 200px;
	padding-top: 12px;
	padding-bottom: 12px;
	display: inline-table;
	vertical-align: middle;
}

#image-picker {
  width: 100%;
  color: white;
  display: none;
}

.filter-options{
	padding-right: 12px;
	padding-left: 12px; 
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  overflow: hide;
}

.content{
  margin-top: 48px;
  width: calc(75% - 25px);
  padding-right: 20px;
  height: 100vh;
  display: inline-block;
}

.histo_options{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.histo_option{
  width: 20%;
  display: inline-block;
  color: white;
}

.graphics-container {
  margin-top: 12px;
  width: 100%;
}

.image-panel{
  overflow: hidden;
  margin: auto;
}

.image-container{
  width: 50%;
  margin-left: 10px;
  display: inline-block;
  text-align: center;
  max-width: 280px;
}

.image {
  max-height: 220px;
  max-width: 280px; 
}

.hist_son {
	display: inline-block;
  width: 45%;
}

.slidebar{
  display: inline-block;
  width: 60%;
}

.limit{
  display: inline-block;
  width: 10%;
  color: white;
  vertical-align: super;
}

.x{
  color: white;
}

.y{
  color: white;
  transform: translate(1px);
}
.mat{
  width: 30%;
}
.clear{
  color: white;
  margin: 0px;
}
.confirm{
  width: 30%;
  max-width: 100px;
  min-width: 50px;
}
.point{
  display: inline-block;
  width: 45%;
}
.pointer{
  color: black;
  width: 45%;
  display: inline-block;
  vertical-align: super;
}

.filter-block {
  display: none;
  padding-top: 12px;
  padding-bottom: 12px;
}

.caret {
  margin-top: 8px;
  margin-right: 4px;
  float: right;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.filter{
  width: 100%;
  display: inline-block;
  margin-bottom: 5px;
  border-width: 0px;
  background-color: #3b5075;
  color: white;
  overflow: hidden;
  border-radius: 4px;
}

.filter:hover{
  opacity: 0.5;
  transition: 0.4;
}

.reduce{
    margin-bottom: 0px;
    color: white;
}

.hide{
  opacity: 0;
}

.colunm{
  display: inline-block;
  width: 28px;
}

.cel{
  width: 100%;
  display: inline-block;
  text-align: center;
}

#matriz{
  margin-top: 8px;
  margin-bottom: 8px;
  /*overflow: scroll;*/
}

#reset-wrapper {
	width: 80%;
	position: fixed;
	bottom: 48px;
}

#reset-button {
	display: block;
	margin: 0 auto;
	width: 200px;
	padding: 8px; 
	border-radius: 8px;
}

.loading {
	background-image: url(../img/loading.png);
	background-repeat: no-repeat;
	animation: spin 2s linear infinite;
	width: 10px;
	height: 10px;

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.sliders-container {
	width: 30%;
	display: inline-block;
}